.CurriculumSection {
	padding: 4rem;
	margin-top: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 2rem;
}

.curriculumContentContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 2rem;
	padding: 2rem 3rem;
	border-radius: 2rem;
}

.light .curriculumContentContainer {
	background-color: var(--clr-1);
	box-shadow: 0 0 0 0.1rem var(--clr-5);
}
.dark .curriculumContentContainer {
	background-color: var(--clr-3);
}

.light .CurriculumSection {
	background-color: var(--tl-1);
}

.dark .CurriculumSection {
	background-color: var(--clr-4);
}

.curriculumTitle {
	text-align: center;
	font-size: 2rem;
}

.light .curriculumTitle {
	color: var(--clr-5);
}
.dark .curriculumTitle {
	color: var(--clr-5);
}

.curriculumIconContainer {
	font-size: 8rem;
	text-align: center;
}

.curriculumIconContainer > * {
	cursor: pointer;
	color: var(--clr-5);
	background-color: var(--clr-3);
	padding: 1rem;
	border-radius: 1rem;
	box-shadow: var(--sh-1), 0 0 0 0.01rem var(--clr-5);
	transition-duration: 200ms;
	transition-timing-function: ease-in-out;
}

.curriculumIconContainer > *:hover {
	scale: 1.1;
	transition-duration: 200ms;
	transition-timing-function: ease-in-out;
}

.dark .curriculumIconContainer > * {
	background-color: var(--tl-1);
}
