.ProjectSection {
	display: flex;
	justify-content: center;
	align-items: center;
}

.ProjectSection .projectsSectionTitle {
	font-size: 2rem;
	padding-block: 1rem;
	text-align: center;
}

.light .ProjectSection .projectsSectionTitle {
	color: var(--clr-5);
}
