.dark .RootLayout {
	min-height: 100vh;
	background-color: var(--clr-5);
	color: var(--f-2);
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
}

.dark .RootLayout > * {
	width: 100%;
}

.light .RootLayout {
	color: var(--f-1);
	min-height: 100vh;
	background-color: var(--clr-2);
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
}

.light .RootLayout > * {
	width: 100%;
}
