.MenuToggleHambourger {
  height: 2.6rem;
  width: 2.75rem;
  padding: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 0.15rem;
  background-color: var(--clr-3);
  box-shadow: 0 0 0 0.1rem var(--clr-5);
}

.MenuToggleHambourger span {
  display: block;
  height: 0.3rem;
  width: 2.2rem;
  border-radius: 0.15rem;
  background-color: var(--clr-5);
}

.MenuToggleHambourger span:first-of-type {
  margin-bottom: 0.3rem;
}

.MenuToggleHambourger span:last-of-type {
  margin-top: 0.3rem;
}
