* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--clr-1: #fff;
	--clr-2: #f1f1f1;
	--clr-3: #eee;
	--clr-4: #000;
	--clr-5: #333;
	--clr-5-1: #33333333;
	--clr-5-2: #33333355;
	--clr-6: #555;
	--clr-7: #14417c;
	--clr-8: #3561b3;
	--clr-9: #4d455d;
	--clr-10: #e96479;
	--clr-11: #f5e9cf;
	--clr-12: #7db9b6;
	--b-1: 0 0 0 0.05rem var(--clr-5-2);
}
