.AboutMeSection {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding-bottom: 1rem;
}

.light .AboutMeSection {
	padding-top: 1rem;
}
.AboutMeSection .AboutMeSectionContent {
	background-color: var(--clr-1);
	color: var(--clr-5);
	padding-inline: 2rem;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.AboutMeSection .AboutMeSectionContentContainer {
	padding-top: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.AboutMeSection .AboutMeSectionContent .titleAndProfilePicture {
	max-width: 20rem;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.profilePicture {
	width: 100%;
	background-image: url('../../img/akli-pic.jpg');
	background-size: cover;
	background-position: center;
	aspect-ratio: 1;
	border-radius: 50%;
	margin: 1rem;
}

.AboutMeSection .AboutMeSectionContent .title {
	font-size: 2rem;
	padding-block: 1rem;
}
.AboutMeSection .AboutMeSectionContent .presentation {
	padding-bottom: 1rem;
}

.dark .AboutMeSection .AboutMeSectionContent {
	background-color: var(--clr-4);
	color: var(--clr-3);
}

.dark .AboutMeSection {
	padding-inline: 0;
}

.light .AboutMeSection {
	padding-inline: 1rem;
}

.light .AboutMeSection .AboutMeSectionContent {
	box-shadow: 0 0 0 0.1rem var(--clr-5);
	box-shadow: 0 0 0 0.1rem var(--clr-5) inset, var(--sh-2);
}
