.SmallProjectCardContainer {
	background-color: var(--clr-1);
	box-shadow: var(--b-1) var(--o-1), var(--sh-2);
	margin-top: 1rem;
	max-width: 17rem;
	padding: 0.7rem;
	box-shadow: 0 0 0 0.1rem var(--clr-5);
}

.SmallProjectCardContainer > * {
	transition-duration: 200ms;
	transition-timing-function: ease-in-out;
}

.SmallProjectCardContainer .expandeProjectDescriptin {
	cursor: pointer;
	padding: 0.2rem 1rem;
	background-color: var(--o-8);
	color: var(--clr-3);
	box-shadow: var(--sh-2);
	text-align: center;
}

.dark .SmallProjectCardContainer {
	box-shadow: var(--w-1);
}

.dark .SmallProjectCardContainer .expandeProjectDescriptin {
	box-shadow: var(--b-2);
}

.SmallProjectCardContainer .expandeProjectDescriptin:hover {
	background-color: var(--o-7);
}

.dark .SmallProjectCardContainer {
	background-color: var(--clr-4);
	color: var(--clr-3);
}

.SmallProjectCardContainer .project_name {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.5rem;
	line-height: 1.6;
	text-align: center;
	padding-inline: 1rem;
	padding-block: 2.5rem;
	background-color: var(--tl-1);
}

.dark .SmallProjectCardContainer .project_name {
	background-color: var(--clr-4);
}

.ImageHalfProjectCard {
	box-shadow: var(--b-1) var(--clr-6) inset;
	background-color: var(--clr-6);
	display: inline;
}

.ImageHalfProjectCard .project_image_preview {
	background-repeat: no-repeat;
	background-size: cover;
	background-blend-mode: luminosity;
	background-color: rgb(11, 198, 255);
	box-shadow: var(--b-1) var(--o-1) inset, var(--sh-1);
	width: 100%;
	aspect-ratio: 1;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	transition-duration: 200ms;
	transition-timing-function: ease-in-out;
	text-align: center;
	font-size: 1.5rem;
}

.project_name_bis {
	height: 100%;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	line-height: 1.5;
	padding: 1rem;
	color: var(--clr-5);
	background-color: var(--tlo-1);
}

.light .project_name_bis {
	font-weight: bold;
}
.dark .project_name_bis {
	background-color: var(--clr-5-1);
	color: var(--clr-3);
	font-weight: bold;
}

.dark .ImageHalfProjectCard .project_image_preview {
	box-shadow: var(--sh-2);
}

.ImageHalfProjectCard .project_image_preview:hover {
	scale: 0.95;
	transition-duration: 200ms;
	transition-timing-function: ease-in-out;
}

.ImageHalfProjectCard a {
	text-decoration: none;
	color: inherit;
}

.detailledDescriptionHalfProjectCard {
	background-color: inherit;
	transition-duration: 200ms;
	transition-timing-function: ease-in-out;
}
.dark .detailledDescriptionHalfProjectCard {
	background-color: inherit;
}

.detailledDescriptionHalfProjectCard .project_description {
	padding-block: 0.5rem;
	padding-inline: 0.5rem;
	line-height: 1.6;
}

.project_description_shorten {
	padding: 1rem 0.5rem;
}

.detailledDescriptionHalfProjectCard .project_technologies .tech_container {
	background-color: inherit;
}

.detailledDescriptionHalfProjectCard .project_technologies {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	gap: 0.2rem;
	padding-inline: 0.5rem;
	padding-bottom: 1rem;
}

.detailledDescriptionHalfProjectCard .project_technologies .project_tech_key {
	font-size: 1rem;
	font-weight: bold;
	padding: 0.8rem 0rem;
	display: block;
	border-radius: 0.2rem;
}

.detailledDescriptionHalfProjectCard .project_technologies .tech_name {
	font-size: 0.9rem;
	background-color: var(--clr-3);
	padding: 0.1rem 0.3rem;
	border-radius: 0.2rem;
}

.dark .detailledDescriptionHalfProjectCard .project_technologies .tech_name {
	background-color: var(--clr-5);
}

.tech_names_container {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	align-items: center;
	gap: 0.2rem;
}

.SmallProjectCardContainer .project_links_container {
	display: flex;
	justify-content: center;
	align-items: center;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	gap: 0.2rem;
	padding-top: 1rem;
}

.SmallProjectCardContainer .project_links_container a {
	width: 100%;
	background-color: var(--tl-1);
	text-align: center;
	padding: 0.7rem;
	transition-duration: 200ms;
	transition-timing-function: ease-in-out;
	color: var(--clr-5);
	font-size: 1.5rem;
}

.dark .SmallProjectCardContainer .project_links_container a {
	background-color: var(--clr-4);
	color: var(--clr-3);
	box-shadow: var(--b-2);
	transition-duration: 200ms;
	transition-timing-function: ease-in-out;
}

.SmallProjectCardContainer .project_links_container a:hover {
	background-color: var(--td-1);
	transition-duration: 200ms;
	transition-timing-function: ease-in-out;
}

.dark .SmallProjectCardContainer .project_links_container a:hover {
	transition-duration: 200ms;
	transition-timing-function: ease-in-out;
	background-color: var(--clr-5);
}
